body {
	font-family: 'Times New Roman', 'Calibri';
}

h1 {
	text-align: center;
	font-size: 28pt;
	font-weight: bold;
	margin: 0 0;
	color: black;
}

h2 {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

h3 {
	margin: 0 0;
	font-size: 12pt;
}

h4 {
	margin: 0 0;
	font-size: 12pt;
	font-weight: normal;

}

.names {
	float: right;
	font-weight: bold;
	font-style: italic;
}

.clg {
	text-align: left;
	font-weight: bold;
}

div {
	padding: 10px;
}



/* Make sure that padding behaves as expected */
* {
	box-sizing: border-box
}

/* Container for skill bars */
.container {
	width: 30%;
	height: 10%;
	/* Full width */
	background-color: #ddd;
	/* Grey background */
}

.skills {
	text-align: right;
	/* Right-align text */
	padding-top: 10px;
	/* Add top padding */
	padding-bottom: 10px;
	/* Add bottom padding */
	color: white;
	/* White text color */
}

.arduno {
	width: 90%;
	height: 10%;
	background-color: #04AA6D;
}

/* Green */
.css {
	width: 80%;
	background-color: #2196F3;
}

/* Blue */
.js {
	width: 65%;
	background-color: #f44336;
}

/* Red */
.php {
	width: 60%;
	background-color: #808080;
}

/* Dark Grey */




table,
tr,
td {
	border: 1px solid black;
	text-align: center;
	padding: 3px;

}

hr {
	border: 3px solid black;
}
